body {
    display: flex;
    flex-direction: column;
    background-color: #333745;
    padding: 0px;
    margin: 0px;
}

header {
    border: solid;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-color: rgb(0, 0, 0);
    background-color: #F7FAED;
    color: black;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
}

button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #F7FAED;
    color: black;
    border: 2px solid #555555;
}

button:hover {
    background-color: #3A6678;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid;
    width: 95%;
    border-radius: 20px;
    border-color: black;
    background-color: #F7FAED;
    color: black;
}

footer {
    border: solid;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: rgb(0, 0, 0);
    background-color: #F7FAED;
    color: black;
}

h1 {
    margin: auto;
}

h4 {
    margin-bottom: auto;
}

@media screen and (max-width: 1000px){
    body{
        font-size: 150%;
    }
    button{
        font-size: 40px;
        height: auto;
        width: auto;
    }
}