/* Mise en forme générale */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Mise en forme de la navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 70px;
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    margin-right: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #eee;
}

/* Mise en forme de la section "Accueil" */
#sect_accueil {
    display: flex;
    align-items: center;
    background-image: url("ressources/img_fonds.jpg");
    background-size: cover;
    color: #fff;
    height: 100vh;
}

#sect_accueil .content {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#sect_accueil .salut {
    font-size: 30px;
    margin-bottom: 10px;
}

#sect_accueil .nom {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

#sect_accueil .activite {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

#sect_accueil .mini_bio {
    font-size: 18px;
}

#sect_accueil .lien {
    color: #fff;
    transition: all 0.3s ease;
}

#sect_accueil .lien:hover {
    color: aqua;
}

/* Mise en forme de la section "A propos" */
#sect_a_propos {
    background-color: #f8f8f8;
    padding: 50px 0;
}

#sect_a_propos .titre_sect {
    font-size: 30px;
    margin-bottom: 30px;
}

#sect_a_propos .a_propos_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 50px;
}

#sect_a_propos .p1 {
    font-size: 18px;
    width: 60%;
    margin-right: 50px;
}

#sect_a_propos .photo {
    width: 20%;
}

#sect_a_propos .photo img {
    width: 100%;
    border-radius: 50%;
}

/* Mise en forme de la section "Mes projets" */
#sect_projets {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

#sect_projets .titre_sect {
    font-size: 30px;
    margin-bottom: 30px;
}

#sect_projets .projets_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#sect_projets .projet {
    width: 30%;
    margin-bottom: 50px;
}

#sect_projets .projet .projet_img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

#sect_projets .projet .projet_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

#sect_projets .projet .projet_img:hover img {
    transform: scale(1.1);
}

#sect_projets .projet .projet_titre {
    font-size: 20px;
    margin: 10px 0;
}

#sect_projets .projet p {
    font-size: 14px;
}

/* Mise en forme de la section "Me contacter" */
#sect_contact {
    background-color: #f8f8f8;
    padding: 50px 0;
    color: #222;
}

#sect_contact .titre_sect {
    font-size: 30px;
    margin-bottom: 30px;
}

#sect_contact .contact_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

#sect_contact .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sect_contact .contact_img img {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

#sect_contact .contact:hover {
    border: #222 5px solid;
    transition: all 0.1s ease;
}

/* Mise en forme du footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* responsivité */

@media screen and (max-width: 800px) {
    .menu li {
        margin: 0 10px;
    }

    #sect_accueil {
        background-image: none;
        background-color: #222;
    }

    #sect_accueil .content {
        width: 90%;
    }

    #sect_a_propos .a_propos_content {
        flex-direction: column;
    }

    #sect_a_propos .p1 {
        width: 100%;
        margin-bottom: 30px;
    }

    #sect_a_propos .photo {
        width: 100%;
    }

    #sect_projets .projet {
        width: 45%;
    }

    #sect_contact .contact_content {
        flex-direction: column;
    }

    #sect_contact .contact_text {
        margin-bottom: 30px;
    }

    #sect_contact .contact_img {
        margin-bottom: 30px;
    }

    #sect_contact .contact_img img {
        width: 80px;
        height: 80px;
        line-height: 25px;
        font-size: 12px;
    }

    #sect_contact .contact {
        width: 80%;
    }       
}